/* Variables css */
:root {
    /* Fondos */
    --bg-maingame: linear-gradient(to bottom, #000000, #091016);
    /* Bordes */
    --border-game: #0000ff;
}

/* Estilos del main */
.section-game {
    background: var(--bg-maingame); 
    position: relative;
    width: 100%;
    height: 100vh; /* o el tamaño que uses */
    overflow: hidden;
    cursor: none;
    border: 0.2rem solid var(--border-game);
}

/* Estilos de la comida */
.food {
    background-color: red;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
}


