/* Variables css */
:root {
    /* Fondos */
    --bg-maingame: linear-gradient(to bottom, #000000, #091016);
    /* Bordes */
    --border-game: #0000ff;
}

/* Estilos del main */
.section-game {
    background: var(--bg-maingame); 
    height: 100vh;    
    position: relative;
    overflow: hidden;
    cursor: none;
    border: 0.2rem solid var(--border-game);
}