/* Variables css */
:root {
    /* Fondos */
    --bg-maingame: linear-gradient(to bottom, #000000, #091016);
    --bg-food: #ff0000;
    /* Bordes */
    --border-game: #0000ff;
}

/* Estilos del main */
.section-game {
    background: var(--bg-maingame); 
    height: 100vh;    
    display: flex;          
    justify-content: center;
    align-items: center;
    border: 0.2rem solid var(--border-game);
}

/* Estilos del game */
.game {
    width: 80vw;
    height: 80vh;
    position: relative;
}

/* Estilos de la comida */
.food {
    width: 30px;
    height: 30px; 
    background-color: var(--bg-food);
    border-radius: 50%;
    position: absolute;
}




