/* Variables css */
:root {
    /* Fondos */
    --fondo-principal: #000000;
    --fondo-btngame: #2211ff;
    --fondo-btngame-active: #7d7ddc;
    /* Colores */
    --color-btngame: #efd6d6;
    --color-btngame-active: #b81f1f;
    /* Tipografias */
    --fuente-btngame: 'Times New Roman', Times, serif;
    /* Tamaño de letra */
    --tamano-btngame: 1rem;
}

/* Estilos del main */
.main {
    background-color: var(--fondo-principal); 
    min-height: 100vh;    
    display: flex;          
    justify-content: center;
    align-items: center;
}

/* Estilos del menú */
.section-menu {
    width: 90%;             /* Más control en pantallas grandes */
    max-width: 800px;       /* Límite máximo para buena legibilidad */
    height: 300px;          /* Altura visible */
    border-radius: 10px;    /* Esquinas redondeadas */
    padding: 20px;
    text-align: center;
}

/* Estilos del botón start */
.btn-game {
    background: var(--fondo-btngame);
    color: var(--color-btngame);
    font-family: var(--fuente-btngame);
    font-size: var(--tamano-btngame);
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 1rem;
    transition: background-color 0.1s ease;
    transition: color 0.2s;
}

/* Estilos del botón star al activarse */
.btn-game:active {
    background: var(--fondo-btngame-active); 
    color: var(--color-btngame-active);
}